@model SylabusWMI.Models.Ours_grid

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ours_grid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recruitment_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recruitment_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty1.Name_PL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty1.Name_PL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Study_programme1.Study_mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Study_programme1.Study_mode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
